<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="root"></div>
<script src="https://unpkg.com/react/umd/react.development.js">
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js">
        <script>
        class Tasks extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    tasks: []
                }
            }

            componentDidMount() {
                fetch('/mi/api/v1/tasks')
                    .then(res => res.json())
                    .then(tasks => this.setState({tasks: tasks}))
            );
        }

    render() {
        const tasks = this.state.tasks;
        return (
            <table className="table">
            <thead>
            <tr>
            <th scope="col">Инспектор</th>
            <th scope="col">Местонахождение</th>
            <th scope="col">С</th>
            <th scope="col">ПО</th>
            <th scope="col">Район</th>
            <th scope="col">Объект</th>
            </tr>
            </thead>
            <tbody>
            {tasks.map(task => (
                    <tr key={task.id}>
                <td>{task.inspector}</td>
                <td>{task.cell_object}</td>
                <td>{task.cell_repair_start}</td>
                <td>{task.cell_repair_end}</td>
                <td>{task.district}</td>
                <td>{task.state}</td>
                </tr>
    ))}
    </tbody>
        </table>
    );
    }
    }

    ReactDOM.render(
    <Tasks/>,
        document.getElementById('root')
    );
</script>
</body>
</html>